@import "tailwindcss";


@keyframes float {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0);
    }
    
}
.animate-float {
    animation: float 2s ease-in-out infinite;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.4);
    border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-track {
   background: transparent;
}